*.pyc
models/
train_results/
train_results_backup/
train_results_models/
train_multicamvo/
test_results/
slurm_logs/
__pycache__/
IntPlot/
logdata/
*try_lw*/
resimg/
temp*/
ORBvoc*
*.zip
*.db
/record
/tensorboard
/data/*.txt
/data/tartan_test.txt
/data/*.txt
/data/*.npy
/wandb
/database
test*
*.out
*.png
*.npy
slurm-*
discard*
*.html
*.npz
*.ipynb
